.card-body{
  background-color: #f8f9fb; 
}

.col-sm{
  border: 1px blue solid;
  width: 350px;
  margin: 15px;
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  justify-content: space-between;
}

.card-header{
  background-color: #f0f1f3;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.card-text{
  color: black !important; 
}

.card-body p{
  color: black !important;
  
}
.card-body{
  height: 180px;
  padding: 10px;
}
.btn{
  color:black !important;
  height: 40px;
  width: 40px;
  margin: 2px;
}

.btn-primary{
  background-color: #d65551;
  background-image: url("https://img.icons8.com/material-outlined/24/ffffff/trash--v1.png");
  background-size: 100%;
}

.btn-danger{
background-color: #337bb6;
background-image: url("https://img.icons8.com/ios-filled/50/ffffff/pencil--v1.png");
background-size: 100%;
}

