<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login AIM</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{{ url_for("static", filename="css/style.css") }}'>
</head>

<body>
    <header class="header">
        <img class="header__img" src='{{ url_for("static", filename="media/icons8-aeropuerto-100.png") }}' alt="Logo" />
        <div>
            <h2 class="header__title"><a href="/home/">Aeropuerto Matecaña Internacional</a> </h2>
            <a href="/home/">Regresar</a>
        </div> 
    </header>
    
    <section class="login">
        <section class="login__container">
            <h2 class="login__title">Inicia sesión</h2>
            <h2 class="errmsg">{{error}}</h2>
            <form class="login__container--form" action="/login/" method="post">
                <input class="input" type="email" placeholder="Correo" name="email" required/>
                <input class="input" type="password" placeholder="Contraseña" name="pwd" required/>
                <input class="button" type="submit" value="Iniciar sesión"> 
                <div class="login__container--forget-pwd">
                    <a href="/recuperarpwd/">Olvide mi Contraseña</a>
                </div>
            </form>
            <p class="login__container--register">Notienes ninguna cuenta? <a href="/registro/">Registrate</a> </pc>
        </section>
    </section>
    <footer class="footer">
        <a href="/terminos">Terminos y condiciones </a>
        <a href="/contactanos">Contactanos</a>
    </footer>
</body>
</html>