<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="menu.css">
</head>

<body>
    <header class="header">
        <img class="header__img" src="./icons/icons8-aeropuerto-100.png" alt="Logo">
        <h2 class="header__title">Aeropuerto Matecaña Internacional</h2>
    </header>
    <section class="menu">
        <section class="menu__container">
            <div class="menu__container--saludo">
                <h2 class="menu__title">Menu Administrador</h2>
            </div>
            <form action="menu__container--form">
                <button class="button">Crear Vuelos</button>
                <button class="button">Ver vuelos</button>
                <button class="button">Editar vuelos por codigo</button>
                <button class="button">Ver calificaciones vuelos</button>
                <button class="button">Ver usuarios</button>
                <button class="button">Editar usuarios</button>
                <button class="button">Asignar permisos y roles</button>
                <button class="button">Editar tu información</button>
            </form>
        </section>
    </section>
    <footer class="footer">
        <a href="/">Terminos y condiciones </a>
        <a href="/">Contactanos</a>
    </footer>
</body>
</html>