<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{{ url_for("static", filename="css/menu.css") }}'>
</head>

<body>
    <header class="header">
        <img class="header__img" src='{{ url_for("static", filename="media/icons8-aeropuerto-100.png") }}' alt="Logo" /> 
        <h2 class="header__title"><a href="/home/">Aeropuerto Matecaña Internacional</a> </h2>
    </header>
    <section class="menu">
        <section class="menu__container">
            <div class="menu__container--saludo">
                <h2 class="menu__title">Menu Administrador</h2>
            </div>
            <form >
                <button class="button" formaction="/registrovuelo/">Crear Vuelos</button>
                <button class="button" formaction="/vervuelos/">Ver vuelos</button>
                <button class="button" formaction="/editarvuelo/">Editar vuelos por codigo</button>
                <button class="button" formaction="/calificaciones/">Ver calificaciones vuelos</button>
                <button class="button" formaction="/verusuarios/">Ver usuarios</button>
                <button class="button" formaction="/editarusuario/">Editar usuarios</button>
                <button class="button" formaction="/roles/">Asignar permisos y roles</button>
                <button class="button" formaction="/vermensajes/">Ver mensajes</button>

            </form>
        </section>
    </section>
    <footer class="footer">
        <a href="/">Terminos y condiciones </a>
        <a href="/">Contactanos</a>
    </footer>
</body>
</html>