<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro Usuario</title>
        <link rel="stylesheet" href='{{ url_for("static", filename="css/style.css") }}'>
    </head>

    <body>
        <header class="header">
            <img class="header__img" src='{{ url_for("static", filename="media/icons8-aeropuerto-100.png") }}' alt="Logo" />
            <div>
                <h2 class="header__title"><a href="/home/">Aeropuerto Matecaña Internacional</a> </h2>
                <a href="/madmin/">Regresar</a>
            </div> 
        </header>

        <section class="login">
            <section class="login__container">
                    <h2>Asignar Roles y Permisos</h2>
                    <form action="/madmin/">
                        <p>Documento</p>
                        <div>
                            <select class="select" style="width: 60px;">
                                <option>CC</option>
                                <option>TI</option>
                                <option>CE</option>
                            </select>
                            <input class="input" type="text" placeholder="Numero de Documento" name="cedula" value="{{cedula}}" style="width: 200px;" required/>
                            <input class="input" type="text"  name="nombre" value="{{nombre}}" style="display: none;"> 
                            <button class="button" formaction="/roles/buscar/" formmethod="post">Buscar</button>
                        </div>
                        <p>Nombre: {{nombre}}</p>
                        <p>Cedula: {{cedula}}</p>
                        <div style="width: 100%;">
                        <p style="width: 10px;">Perfil Actual: {{perfil}}</p>
                        <select class="select" style="width: 120px;" name="perfil">
                            <option>Piloto</option>
                            <option>Usuario</option>
                            <option>Administrador</option>
                            <option>Inactivo</option>
                        </select>
                        </div>
                        
                        <button class="button" type="submit" formaction="/roles/" formmethod="post">Guardar Cambios</button>
                    </form>
                </section>
        </section>
        <footer class="footer">
            <a href="/terminos">Terminos y condiciones </a>
            <a href="/contactanos">Contactanos</a>
        </footer>
    </body>
</html>