<!DOCTYPE html>
<html lang="en">
<head id="cabeza">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href='{{ url_for("static", filename="css/style.css") }}'>


<title>Aeropuerto Matecaña</title>

</head>

<body>

  <header class="header">
    <img class="header__img" src='{{ url_for("static", filename="media/icons8-aeropuerto-100.png") }}' alt="Logo" />
    <div>
        <h2 class="header__title"><a href="/home/">Aeropuerto Matecaña Internacional</a> </h2>
        <a href="/home/">Regresar</a>
    </div> 
</header>

  <main class="main">
    <h1 class="title">Sobre Nostros</h1>
    <h2>Aeropuerto Matecaña Internacional</h2>
    <p>Somos el Aeropuerto Matecaña Internacional, la página web comenzó a operar desde octubre de 2022, tiene como objetivo modernizarse y fortalecer su oferta de servicios.*
    </p>
    <h2>Mision</h2>
    <p>La página web Aeropuerto Matecaña Internacional, tiene como fin la modernización, adecuación, explotación comercial, mantenimiento y operación del Aeropuerto Matecaña Internacional de la ciudad de Pereira, Bajo ese marco, estamos comprometidos con la calidad, rentabilidad, transparencia y sostenibilidad del proyecto, brindando para ello, servicios aeroportuarios seguros, confortables y eficientes que redunden en bienestar a la región. Nuestra razón de ser es conectar con el mundo a la gente, cultura y economía.
    </p>
    <h2>Vision</h2>
    <p>Ser reconocida como una de las mejores páginas web aeroportuarias del país, destacándose en aspectos de seguridad, servicio al usuario, innovación tecnológica, cumplimiento de la región, así como por la adecuada capacidad de respuesta para sus usuarios, aliados y la comunidad del aeropuerto en general
    </p>
    <p>*Este documento solo es con fines educativos para el programa “Misión Tic 2022”.</p>
  </main>

  <footer class="footer">
    <a href="/">Terminos y condiciones </a>
    <a href="/">Contactanos</a>
  </footer>

</body>
</html>