<!DOCTYPE html>
<html lang="en">
<head id="cabeza">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href='{{ url_for("static", filename="css/style.css") }}'>
<title>Aeropuerto Matecaña</title>

</head>

<body>

  <header class="header">
    <img class="header__img" src='{{ url_for("static", filename="media/icons8-aeropuerto-100.png") }}' alt="Logo" />
    <div>
        <h2 class="header__title"><a href="/home/">Aeropuerto Matecaña Internacional</a> </h2>
        <a href="/home/">Regresar</a>
    </div> 
</header>

  <main class="main">
    <h1>Terminos y Condiciones</h1>
    <div class="main--bloque">
      <h3>Políticas de Privacidad y Condiciones de Uso:</h3>
      <p>El Aeropuerto Internacional Matecaña solicita al visitante y al usuario de esta página, que lea detallada y minuciosamente estas condiciones y la política de privacidad, antes de iniciar su exploración o utilización. Si alguno de los dos, no está de acuerdo con estas condiciones o con cualquier disposición de la política de privacidad, le sugerimos que se abstenga de acceder o navegar por la página web de nuestra entidad.</p>
    </div>
    <div class="main--bloque">
      <h3>Aceptación de términos:</h3>
      <p>Se presume que cuando un usuario accede al sitio WEB del Aeropuerto Matecaña Internacional lo hace bajo su total responsabilidad y que, por tanto, acepta plenamente y sin reservas el contenido de los términos y condiciones de uso del sitio WEB de la entidad. El Aeropuerto Matecaña Internacional se reserva, en todos los sentidos, el derecho de actualizar y modificar en cualquier momento y de cualquier forma, de manera unilateral y sin previo aviso, las presentes condiciones de uso y los contenidos de la página. El sitio WEB tiene por finalidad brindar al usuario todo tipo de información relacionada con el Aeropuerto Matecaña Internacional en ningún caso esta información deberá considerarse como exhaustiva, completa o que de cualquier forma satisfaga todas las necesidades del usuario.
        Esta página puede tener enlaces a otros sitios de interés o a documentos localizados en otras páginas web de propiedad de otras entidades, personas u organizaciones diferentes al Aeropuerto Matecaña Internacional. Solamente por el hecho de que el usuario acceda a otro sitio web o a un documento individual localizado en otra página, a través de un link o un vínculo establecido en el sitio WEB del Aeropuerto Internacional Matecaña, el usuario deberá someterse a las condiciones de uso y a la política de privacidad de la página web a la que le redireccione el link.
        El establecimiento de un vínculo (link) con el sitio Web de otra empresa, entidad o programa no implica necesariamente la existencia de relaciones entre la entidad y el propietario del sitio o página Web vinculada, ni la aceptación o aprobación por parte de la entidad de sus contenidos o servicios. Aquellas personas que se propongan establecer un vínculo (link) se asegurarán de que el mismo únicamente permita el acceso a la página de inicio Web, así mismo deberán abstenerse de realizar manifestaciones o indicaciones falsas, inexactas o incorrectas sobre el Aeropuerto Matecaña Internacional o sus filiales o incluir contenidos ilícitos, o contrarios a las buenas costumbres y al orden público.
        Por otra parte, la prestación del servicio del sitio WEB del Aeropuerto Matecaña Internacional es de carácter libre y gratuito para los usuarios y se rige por los términos y condiciones que se incluyen a continuación, los cuales se entienden como conocidos y aceptados por los (las) usuarios (as) del sitio: Con respecto a los contenidos que aparecen en el sitio WEB del Aeropuerto Matecaña Internacional, el usuario se obliga a: Usar los contenidos de forma diligente, correcta y lícita. No suprimir, eludir, o manipular el copyright (derechos de autor) y demás datos que identifican los derechos del Aeropuerto Matecaña Internacional.
        No emplear los contenidos y, en particular, la información de cualquier otra clase obtenida a través del Aeropuerto Matecaña Internacional a o de los servicios, para emitir publicidad. El Aeropuerto Matecaña Internacional no será responsable por el uso indebido que hagan los usuarios del contenido de su sitio WEB. El visitante o usuario del sitio WEB se hará responsable por cualquier uso indebido, ilícito o anormal que haga de los contenidos, información o servicios del sitio WEB del Aeropuerto Matecaña Internacional. El visitante o usuario del sitio, directa o por interpuesta persona, no atentará de ninguna manera contra el sitio WEB del Aeropuerto Matecaña Internacional, contra su plataforma tecnológica, contra sus sistemas de información ni tampoco interferirá en su normal funcionamiento.
        El visitante o el usuario del sitio, no alterará, bloqueará o realizará cualquier otro acto que impida mostrar o acceder a cualquier contenido, información o servicios del sitio WEB del Aeropuerto Matecaña Internacional o que estén incorporados en las páginas web vinculadas.
        El visitante o el usuario del sitio WEB del Aeropuerto Matecaña Internacional, no incurrirá en y desde el mismo, en conductas ilícitas como daños o ataques informáticos, interceptación de comunicaciones, infracciones al derecho de autor, uso no autorizado de terminales, usurpación de identidad, revelación de secretos o falsedad en los documentos.</p>
    </div>
    <div class="main--bloque">
      <h3>Privacidad:</h3>
      <p>Es interés del Aeropuerto Matecaña Internacional la salvaguardia de la privacidad de la información personal del Usuario obtenida a través de la página web de la entidad, para lo cual se compromete a adoptar una política de confidencialidad de acuerdo con lo que se establece más adelante.
        Se entiende por información personal aquella suministrada por el Usuario para el registro, la cual incluye datos como nombre, identificación, edad, género, dirección, correo electrónico y teléfono.
        El Usuario reconoce que el ingreso de información personal, lo realiza de manera voluntaria y ante la solicitud de requerimientos específicos por el Aeropuerto Internacional Matecaña para realizar un trámite, presentar una queja o reclamo, o para acceder a los mecanismos interactivos.
        Igualmente, el Aeropuerto Matecaña Internacional no podrá garantizar la disponibilidad de los servicios en línea y de la información que los usuarios requieran en determinado momento. Tampoco incurrirá en responsabilidad con el usuario o terceros, cuando su sitio WEB no se encuentre disponible.</p>
    </div>
    <div class="main--bloque">
      <h3>Responsabilidad por la información contenida:</h3>
      <p>Debido a que en la actualidad los medios técnicos no permiten garantizar la absoluta falta de injerencia de la acción de terceras personas en el sitio WEB, el Aeropuerto Matecaña Internacional de ninguna manera asegura la exactitud y/o veracidad de todo o parte de la información contenida en su página, ni su actualización, ni que dicha información haya sido alterada o modificada en todo o en parte, luego de haber sido publicada en la página, ni cualquier otro aspecto o característica de lo publicado en el sitio o en los enlaces, respectivamente.
        El Aeropuerto Matecaña Internacional no controla ni garantiza la ausencia de virus ni de otros elementos en los contenidos que puedan producir alteraciones en su sistema informático (software y hardware) o en los documentos electrónicos y ficheros almacenados en su sistema informático.
        En consecuencia, con lo anterior, El Aeropuerto Matecaña Internacional no se hará responsable de ningún daño ocasionado en virtud de cualquier alteración que se haya efectuado a los materiales o archivos de descarga suministrados directamente por la entidad.</p>
    </div>
    <div class="main--bloque">
      <h3>Ley aplicable y jurisdicción:</h3>
      <p>El usuario no podrá manifestar ante El Aeropuerto Matecaña Internacional o ante una autoridad judicial o administrativa, la aplicación de condición, norma o convenio que no esté expresamente incorporado en las presentes condiciones de uso. Estas condiciones serán gobernadas por las leyes de la República de Colombia, en los aspectos que no estén expresamente regulados en ellas.
        Si cualquier disposición de estas condiciones pierde validez o fuerza obligatoria, por cualquier razón, todas las demás disposiciones, conservan su fuerza obligatoria, carácter vinculante y generarán todos sus efectos. Para cualquier efecto legal o judicial y cualquier controversia que surja de su interpretación o aplicación se someterá a los jueces de la República de Colombia.!</p>
    </div>
    <div class="main--bloque">
      <h3>Duración y terminación:</h3>
      <p>La prestación del servicio del sitio WEB del Aeropuerto Matecaña Internacional tiene una duración definida, SOLO ESTARÁ DISPONIBLE HASTA QUE SE ACABE EL CICLO 3 DE MISIÓN TIC 2022. Sin embargo, la entidad podrá dar por terminada o suspender la prestación de este servicio en cualquier momento. En caso de que se llegue a presentar esta situación, El Aeropuerto Matecaña Internacional informará previamente sobre el hecho, para evitar mayores traumatismos.</p>
    </div>
    <p>Este Documento es con fines educativos para el programa “Misión TIC 2022”, nos reservamos todos los derechos de autor del Aeropuerto Internacional Matecaña.
      Información contenida en la página: (Propiedad del contenido de la Página – Copyright)
      Esta documentación y su contenido son de propiedad del Aeropuerto Internacional Matecaña. Está prohibida su reproducción total o parcial, su traducción, inclusión, transmisión, almacenamiento o acceso a través de medios analógicos, digitales o de cualquier otro sistema o tecnología creada, sin autorización previa y escrita del Aeropuerto Internacional Matecaña. Sin embargo, es posible descargar material de www.aeromate.gov.co para uso personal y no comercial.</p>
  </main>

  <footer class="footer">
    <a href="/">Terminos y condiciones </a>
    <a href="/">Contactanos</a>
  </footer>

</body>
</html>